body {
  background-color: white;
}

iframe {
  display: none;
}

#jasmine-build-status {
  padding-bottom: 13px;
  &.failed {
    background: url('failing.png') no-repeat top left;
  }
  &.passed {
    background: url('passing.png') no-repeat top left;
  }
}

.clear {
  clear: both;
}

.edit {
  line-height: 30px;
  input {
    float: right;
    margin-bottom: 0px;
  }
}
input.short {
  width: 18px;
  margin-right: 5px;
}
.help-block {
  color: #999999;
  display: inline;
}

.bs-docs-example {
  &#purpose, &#options {
    min-height: 110px;
  }
  margin-right: 10px;
  &.primary:after {
    color: white;
    background-color: #2F96B4;
  }
  &#purpose:after {
    content: "Purpose";
  }
  &#options:after {
    content: "Options";
  }
  &#characters:after {
    content: "Characters";
  }
  &#criteria:after {
    content: "Criteria";
  }
  &#result:after {
    content: "Result";
  }
}

#result .sample {
  display: inline-block;
  min-width: 138px;
  margin: 5px 10px;
  padding: 3px 15px;
  font-family: Monaco;
  background-color: #fff;
  border: 1px dashed #000;
  text-align: center;
}

.footer {
  margin-top: 45px;
  padding: 35px 0 36px;
  border-top: 1px solid #E5E5E5;
}
